@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: black;
}

.about {
    width: 100%;
    padding: 78px 0px;
}

.about img {
    height: auto;
    width: 420px;
    border-radius: 20px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

span {
    color: orange;
}

.about-text p {
    color: gray;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.button {
    display: inline-block;
    padding: 13px;
    border-radius: 13px;
    background-color: orange;
    color: white;
    font-size: 15px;
    font-weight: 350;
    transition: all .50s ease;
    cursor: pointer;
}

.button:hover {
    transform: translateX(10px);
    border: 5px solid orange;
    background: transparent;
    color: white;
}